{% extends 'home/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/account.css' %}">
{% endblock %}

{% block body %}

    <div class="container center-block text-center">

        <div class="page-header"><h1>Account</h1></div>


        <a href="{% url 'addstudent' %}"><button class="btn btn-lg btn-primary">Add Student</button></a>


        <a href="{% url 'uploadquestions' %}"><button class="btn btn-lg btn-primary">Upload Questions</button></a>

        <a href="{% url 'generatepack' %}"><button class="btn btn-lg btn-primary">Generate Pack</button></a>

        <a href="{% url 'inputscores' %}"><button class="btn btn-lg btn-primary">Input Scores</button></a>
    </div>

{% endblock %}