{% extends 'home/base.html' %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Upload Questions - FOLLOW RULES BELOW</h1>
        <ul>
            <li>You must compress the file</li>
            <li>You MUST name the file 'Categoriser-master.zip'</li>
            <li>The file should contain a 'data'db' and a folder called 'questions' with the jpgs of the questions</li>
            <li>File size of zip cannot exceed 100MB!</li>
            <li>Make sure the questions you have categorised haven't already been done</li>
        </ul>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile"><br>
        <button type="submit">Upload</button>
        </form>

        {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}

    </div>
</div>

{% endblock %}