{% extends 'home/base.html' %}
{% load static %}

{% block title %}About us{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">About Us</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum. Phasellus vel suscipit ante. Morbi eget justo molestie, iaculis lorem fringilla, feugiat lacus. Donec imperdiet lacus eget tellus egestas, id maximus massa imperdiet. Morbi leo velit, tempor in nisi et, hendrerit hendrerit velit. Sed pulvinar nec lectus vitae condimentum. Sed pulvinar dui massa, sed laoreet elit vulputate varius. Nullam aliquet lacus in ipsum vestibulum, eget molestie turpis eleifend. Vestibulum consequat lacus et magna dictum, non pulvinar mauris porttitor. Aenean eget metus sapien. Phasellus sed tortor a mi faucibus feugiat et laoreet orci. Proin eget vehicula erat. Praesent purus eros, feugiat sit amet erat ut, rutrum sagittis mi. Nullam mauris massa, faucibus vel posuere nec, feugiat quis lorem. Integer tincidunt metus nec erat vulputate sagittis. Aliquam ac erat iaculis, dictum enim nec, semper velit.
        </p>

        <div class="row top-buffer-padding">
            <div class="col-xs-12 col-sm-4">
                <img class="img-responsive img-circle" src="{% static 'home/images/earth.jpg' %}">
                <p style="padding-top: 15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum. Phasellus vel suscipit ante. Morbi eget justo molestie, iaculis lorem fringilla, feugiat lacus. Donec imperdiet lacus eget tellus egestas, id maximus massa imperdiet. Morbi leo velit, tempor in nisi et, hendrerit hendrerit velit. Sed pulvinar nec lectus vitae condimentum. Sed pulvinar dui massa, sed laoreet elit vulputate varius. Nullam aliquet lacus in ipsum vestibulum, eget molestie turpis eleifend.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img class="img-responsive img-circle" src="{% static 'home/images/earth.jpg' %}">
                <p style="padding-top: 15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum. Phasellus vel suscipit ante. Morbi eget justo molestie, iaculis lorem fringilla, feugiat lacus. Donec imperdiet lacus eget tellus egestas, id maximus massa imperdiet. Morbi leo velit, tempor in nisi et, hendrerit hendrerit velit. Sed pulvinar nec lectus vitae condimentum. Sed pulvinar dui massa, sed laoreet elit vulputate varius. Nullam aliquet lacus in ipsum vestibulum, eget molestie turpis eleifend.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img class="img-responsive img-circle" src="{% static 'home/images/earth.jpg' %}">
                <p style="padding-top: 15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum. Phasellus vel suscipit ante. Morbi eget justo molestie, iaculis lorem fringilla, feugiat lacus. Donec imperdiet lacus eget tellus egestas, id maximus massa imperdiet. Morbi leo velit, tempor in nisi et, hendrerit hendrerit velit. Sed pulvinar nec lectus vitae condimentum. Sed pulvinar dui massa, sed laoreet elit vulputate varius. Nullam aliquet lacus in ipsum vestibulum, eget molestie turpis eleifend.</p>
            </div>
        </div>
    </div>
{% endblock %}