<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="0qmrHxUpfoefvrb9fUEsxudAFfpnovfMgUO1j--T0Eg" />

    <!--favicon-->
    <link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}" type="image/png">
    <link rel="icon" href="{% static 'home/images/favicon.ico' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102321299-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!--jquery, js, css -->
    <script src="{% static 'home/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/custom.css' %}">
    {% block css %}
    {% endblock %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'home/bootstrap.js' %}"></script>

    <title>{% block title %}Welcome{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-inverse">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"><img alt="logo" src="{% static 'home/images/logo.png' %}"></a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if nbar == 'home' %}active{% endif %}"><a href="{% url 'index' %}">Home</a></li>
        <!--<li class="{% if nbar == 'aboutus' %}active{% endif %}"><a href="{% url 'aboutus' %}">Establishment</a></li>-->
        <li class="{% if nbar == 'philosophy' %}active{% endif %}"><a href="{% url 'philosophy' %}">Philosophy</a></li>
        <li class="{% if nbar == 'meettheteam' %}active{% endif %}"><a href={%  url 'meettheteam' %}>Meet the Team</a></li>
        <!--<li class="{% if nbar == 'pricing' %}active{% endif %}"><a href="{% url 'pricing' %}">Pricing</a></li>-->
        <li class="{% if nbar == 'bookings' %}active{% endif %}"><a href="{% url 'bookings' %}">Bookings</a></li>
        <!--<li class="{% if nbar == 'whatis11plus' %}active{% endif %}"><a href="{% url 'whatis11plus' %}">What is 11+</a></li>-->
        <li class="{% if nbar == 'findus' %}active{% endif %}"><a href="{% url 'findus' %}">Find us</a></li>
        <!--<li class="{% if nbar == 'testimonials' %}active{% endif %}"><a href="{% url 'testimonials' %}">Testimonials</a></li>-->

      </ul>
    </div>

    </div>
</nav>

{% block body %}
{% endblock %}

</body>

<div style="margin: 0px; padding: 0px; margin-top:10px;" class="container-fluid top-buffer">

    <div class="text-center" style="background-color: #ECE8DE;">
        Challenge House<br>
        616 Mitcham Rd,
        Croydon,
        CR0 3AA<br>
        info@just11plus.co.uk
    </div>
</div>

</html>