{% extends 'home/base.html' %}
{% load static %}

{% block title %}Bookings{% endblock %}




{% block body %}
    <div class="container">
        <h1 class="page-header">How to book</h1>
        <div class="row text-center vertical-center">
            <div class="col-sm-3 well">
                <h2><strong>1.</strong></h2>
                <p>Contact us below on when you are interested</p>
                <br><br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 well">
                <h2><strong>2.</strong></h2>
                <p>We will respond back to let you know if classes are available</p>
                <br>
                <br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 well">
                <h2><strong>3.</strong></h2>
                <p>Come to our centre (address on 'Find us') on the date and time we send you via email</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">Contact us</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="John Smith">Name: </label>
                        {{ form.contact_name }}
                    </div>
                    <div class="form-group">
                        <label for="JohnSmith@example.com">Email: </label>
                        {{ form.contact_email }}
                    </div>
                    <div class="form-group">
                        <label for="Message">Message: </label>
                        {{ form.contact_message }}
                    </div>
                    <div class="form-actions">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">Our timetable</h2>
                <p>We will be taking classes on the weekends starting 14th August. Below are a list of times our classes will run.</p>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>9:00 - 11:00</th>
                            <td class="success">Available</td>
                            <td class="success">Available</td>
                        </tr>
                        <tr>
                            <th>12:00 - 14:00</th>
                            <td class="success">Available</td>
                            <td class="success">Available</td>
                        </tr>
                        <tr>
                            <th>15:00 - 17:00</th>
                            <td class="success">Available</td>
                            <td class="success">Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}