{% extends 'home/base.html' %}
{% load static %}

{% block title %}Bookings{% endblock %}




{% block body %}
    <div class="container">
        <h1 class="page-header">11 Plus Paper class (year6)</h1>
        <p>For those of you whose child is going into year 6 and is taking their 11 plus exam in the following September and October, we have paper classes running throughout August and September. We provide past papers as well as feedback for them from our tutors, all of whom have been Wilson's Grammar School or Wallington Grammar School themselves (see meet the team). We run 2 hour sessions, one hour for maths and one hour for english and charge an hourly rate of £10.</p>
        <h1 class="page-header">11 Plus Tutoring Sessions (year 5)</h1>
        <p>For those of you whose child is going into year 5 and is taking their 11 plus exam next year in 2018, we provide tuition classes which run on a weekly basis throughout the year. We will have 2 hour sessions (one hour for maths and one hour for english) at an hourly rate of £10 during which we will teach essential topics on the KS2 syllabus and how to tackle them. We provide ample homework for each child which we expect them to complete for the following week. Each homework pack will be different for each child, designed to target specific areas that they are struggling on specifically.</p>
    </div>
    <div class="container">
        <h1 class="page-header">How to book</h1>
        <div class="row text-center vertical-center">
            <div class="col-sm-3 well">
                <h2><strong>1.</strong></h2>
                <p>Fill out the form below or call us on 07827224343 or 0753904505.</p>
                <br><br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 well">
                <h2><strong>2.</strong></h2>
                <p>We will respond back to let you know if classes are available</p>
                <br>
                <br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 well">
                <h2><strong>3.</strong></h2>
                <p>Receive an email or phone call from us letting you know confirmation.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">Contact us</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="John Smith">Name: </label>
                        {{ form.contact_name }}
                    </div>
                    <div class="form-group">
                        <label for="Phone number">Phone Number: </label>
                        {{ form.contact_phone }}
                    </div>
                    <div class="form-group">
                        <label for="JohnSmith@example.com">Email: </label>
                        {{ form.contact_email }}
                    </div>
                    <div class="form-group">
                        <label for="Message">Booking time: </label>
                        {{ form.contact_message }}
                    </div>
                    <div class="form-actions">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">Our timetable</h2>
                <p>We will be taking classes on the weekends starting Saturday 12th August. Below are a list of times our classes will run.</p>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>9:00 - 11:00</th>
                            <td class="success">Available</td>
                            <td class="danger">Unavailable</td>
                        </tr>
                        <tr>
                            <th>12:00 - 14:00</th>
                            <td class="success">Available</td>
                            <td class="danger">Unavailable</td>
                        </tr>
                        <tr>
                            <th>16:00 - 18:00</th>
                            <td class="success">Available</td>
                            <td class="danger">Unavailable</td>
                        </tr>
                        <tr>
                            <th>17:00 - 19:00</th>
                            <td class="danger">Unavailable</td>
                            <td class="success">available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}