{% extends 'home/base.html' %}
{% load static %}

{% block title %}Bookings{% endblock %}




{% block body %}
    <div class="container">
        <h1 class="page-header">How to book</h1>
        <div class="row">
            <div class="col-sm-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam et diam et congue. Praesent quis condimentum est.  </p>
            </div>
            <div class="col-sm-1">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam et diam et congue. Praesent quis condimentum est. Vivamus auctor fermentum lorem a dictum. </p>
            </div>
            <div class="col-sm-1">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-sm-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam et diam et congue. Praesent quis condimentum est.  </p>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>9:00 - 11:00</th>
                </tr>
                <tr>
                    <th>12:00 - 14:00</th>
                </tr>
                <tr>
                    <th>15:00 - 17:00</th>
                </tr>
                <tr>
                    <th>18:00 - 20:00</th>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}