{% extends 'home/base.html' %}
{% load static %}

{% block title %}Find us{% endblock %}
{% block css %}
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="page-header text-center">Find us</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <p>Please do not hesitate to contact us by email or phone, and we will endeavour to get back within 1 working day. Additionally, should you have any concerns about your child’s education or progress, one of our team will be more than happy to personally discuss details with you.</p>
        </div>
        <div class="col-sm-7 hidden-xs">
            <img class="img-rounded img-responsive" src="{% static 'home/images/challengehouse.jpg' %}">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2 class="page-header">Where we are</h2>
            <!--Google map showing our location-->
            <!--Free until exceeding 25,000 map loads per 24 hours-->

            <div id="map"></div>
            <script>
              function initMap() {
                var uluru = {lat: 51.389705, lng: -0.129041};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 16,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi9KcguxtDTIsgU2y-PgYb0TSqz_SKnBE&callback=initMap">
            </script>


        </div>
        <div class="col-xs-12 col-sm-6">
            <h2 class="page-header">Contact Us</h2>
            <address>
                <strong>Address</strong> <br>
                Challenge House<br>
                616 Mitcham Rd<br>
                Croydon<br>
                CR0 3AA
            </address>
            <address>
                <strong>Email</strong><br>
                <a href="mailto:#">info@just11plus.oc.uk</a>
            </address>
            <!--
            <address>
                <strong>Phone Number</strong><br>
                123456789
            </address>
            -->
            <!-- TODO - html for emailing
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button btn-primary">Submit</button>
            </form>
            -->
        </div>
    </div>
</div>

{% endblock %}