{% extends 'home/base.html' %}
{% load static %}

{% block title %}Just11Plus{% endblock %}




{% block body %}


    <div class="container-fluid">
        <img class="img-responsive" src="{% static 'home/images/carousel1.png' %}">
    </div>



<!--welcome block-->
        <div class="container">
        <h1 class="page-header center-block">
            What we believe
        </h1>
        <p>
            On a fundamental level, we believe that every child deserves a first class education, one which provides them with the opportunity to both grow and develop academically, and as individuals. The institution your child attends will to a great degree define the quality of teaching they receive, their secondary school experience and influence the opportunities made available to them in the future. Acknowledging the significance of these exams allows us to ensure that students are sufficiently prepared, well in advance, acquainted to the structure of these examinations and comfortable performing under timed conditions.
        </p>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <span class="glyphicon glyphicon-refresh"></span>
                <p>At Just 11+, we incorporate a computer algorithm to identify the areas on which each student requires immediate review. The algorithm enables us to set exercises tailored to the performance of each individual, so that their weaker areas are developed into future strong points</p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <span class="glyphicon glyphicon-random"></span>
                <p>This practice coupled with our regular review sessions encourages students to master all examination topics.Through analysing the rate of improvement on our classroom tests and homework exercises, we will be able to identify the manner in which your child learns most efficiently. We appreciate that not all children learn identically and therefore, we employ the teaching methods that we find most effective for each student.</p>
            </div>
        </div>

        </div>

{% endblock %}
