{% extends 'home/base.html' %}
{% load static %}

{% block title %}Meet the team{% endblock %}

{% block body %}
<div class="container">
    <!--
    <h2 class="page-header">Our Standards</h2>
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, nisi a pellentesque porta, quam quam iaculis ligula, id tincidunt nunc nulla non libero. Nullam in purus nec diam vestibulum rhoncus vitae vel dolor. In ac lobortis magna. Pellentesque vel nisi fringilla, ullamcorper est a, porta erat. Sed scelerisque tempus neque, non auctor lorem porta sed. Pellentesque massa dui, facilisis vel dui viverra, suscipit bibendum massa. </p>
    </div>
    -->
    <h2 class="page-header">Our teachers</h2>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <img class="img-circle img-responsive center-block" src="{% static 'home/images/hasibdp.jpg' %}">
            <p class="top-buffer text-center">Hasib attended Wilson’s Grammar school before undertaking a work placement with Harrods in 2017, which accentuated his interpersonal skills and ability to communicate effectively. He is currently enrolled at the University of Southampton to study Engineering in 2017. Hasib has been tutoring for over three years whilst working with Harrods, teaching 11+ Maths and English, both of which he achieved A*’s at GCSE level. Hasib participated in the IC Hackathon over a gruelling 48 hour period in a team of five, within which they used Microsoft API for an emotional recognition algorithm.</p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <img class="img-circle img-responsive center-block" src="{% static 'home/images/amirdp.jpeg' %}">
            <p class="top-buffer text-center">Amir attended Wallington County Grammar School before undertaking a degree in Mathematics at the University of Warwick. Amir has a stellar academic profile, having achieved 11A*’s at GCSE and 4A*’s at A- level. Amir has secured an internship with Magic Circle law firm, Clifford Chance in private equity for 2017 and is currently preparing to represent Warwick University in the WUDC, the world’s most prestigious university level debating competition. Amir has previously held executive positions as President of the Debating society and Co-president of Programming society alongside being awarded QMUL physicist of the year 2015.</p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <img class="img-circle img-responsive center-block" src="{% static 'home/images/azhardp.jpeg' %}">
            <p class="top-buffer text-center">Azhar attended Wallington County Grammar School before undertaking a Business Management degree at Durham University. He was a spring intern in JP Morgan’s Operations division. He has been tutoring students in English for over 2 years for the 11+ and GCSE format, having achieved A*’s in the subject at GCSE level. Having worked with Croydon Voluntary Action alongside the HR department of Croydon Council, Azhar was able to view firsthand the teaching practices in local schools and firmly believes that supplemented by small group tuition, students can improve rapidly. Azhar is a former Jack Petchey award winner and participated in the Durham Business games with leading organisations such as Deloitte, IBM and Unilever.</p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <img class="img-circle img-responsive center-block" src="{% static 'home/images/vigneshdp.jpg' %}">
            <p class="top-buffer text-center">Vignesh attended Wilson’s Grammar school before undertaking a degree in Computer Science at the University of Southampton. Vignesh’s academic record extends to 10A*’s at GCSE and A*AAA at A-level. Vignesh frequently achieved Gold in the annual United Kingdom Maths Challenge and represented Wlison’s Grammar School Chess team for 6 years, consistently appearing in the top 3 within the Brian Poulter League. Having tutored both Mathematics and English for 3 years at 11+ level, Vignesh appreciates the unique requirements of each student and employs teaching methods specific to their needs. He has previously worked with the London British Council Headquarters, where he familiarised himself with technologies such as SAP.</p>
        </div>
    </div>
    <!--
    <h2 class="page-header">All our tutors are...</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img class="img-circle img-responsive" src="{% static 'home/images/earth.jpg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="img-circle img-responsive" src="{% static 'home/images/earth.jpg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="img-circle img-responsive" src="{% static 'home/images/earth.jpg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
    </div>
    -->
</div>
{% endblock %}