{% extends 'home/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/meettheteam.css' %}">
{% endblock %}

{% block title %}Meet the team{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header"><h1>Our tutors</h1></div>

    <div class="row">
      <div class="column">
        <div class="card">
          <img src="{% static 'home/images/calebdp.jpeg' %}" alt="Caleb" style="width:100%">
          <div class="container2">
            <h2>Caleb</h2>
            <p class="title">Tutor</p>
            <p>Caleb is a highly experienced tutor and attended Wilson’s Grammar School. He is planning on studying Civil Engineering at university and has undertaken a work placement at NLG Associates, broadening his understanding of engineering from a corporate perspective. His tutoring style has significantly developed the creativity of his students and their ability to perform well in pressurised circumstances.Impressively Caleb has ball-boyed as a captain at the Wimbledon Championships for three years and has demonstrated dedication to the army cadet force, achieving the rank of corporal.</p>
            <!--<p>example@example.com</p>-->
            <!--<p><button class="button">Contact</button></p>-->
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'home/images/bavidp.JPG' %}" alt="Bavi" style="width:100%">
          <div class="container2">
            <h2>Bavi</h2>
            <p class="title">Tutor</p>
            <p>Bavi studied at Wallington High School for Girls achieving 9A*s at GCSE and is intending to study Law at University. She is a highly experienced tutor for both English and Mathematics across a wide age range. Her participation in the Bar Mock Trial at Blackfriars Court, London, provided her with a medium to augment her communication skills and clarity of expression. Furthermore, work experience undertaken at Parliament and Mott Macdonald further enhanced the aforementioned skills and improved her ability to think critically. Bavi has been highly adept at analysing the weaknesses of students early on and translating them into strengths. </p>


          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'home/images/sasidavedp.jpeg' %}" alt="Sasidave" style="width:100%">
          <div class="container2">
            <h2>Sasidave</h2>
            <p class="title">Tutor</p>
            <p>Sasidave currently attends Wilson’s Grammar School and has achieved 8 A*’s and 3 A’s. He has tutored across multiple age groups from 11+ tutoring to Year 10, accentuating his ability to adapt to students of varying ability level and demeanours. Moreover, through delivering speeches and informative talks to Year 7 students, he has both enriched his confidence and his ability to present complex ideas in a succinct and cohesive manner. He plays a key role within Wilson’s debating society and has familiarised himself also with the basic principles of programmes such as SAP. </p>


          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="card">
          <img src="{% static 'home/images/daviddp.jpeg' %}" alt="David" style="width:100%">
          <div class="container2">
            <h2>David</h2>
            <p class="title">Tutor</p>
            <p>David currently attends Wilson’s Grammar School and has cultivated a passion for teaching over the past few years. David maintains an excellent academic record having achieved 9A*’s at GCSE, including A*’s in both Maths and Further Maths. David is planning on undertaking Medicine at the University of Nottingham. He has demonstrated strong academic performance, all whilst being a Grade 7 pianist and also representing Wilson’s first XI. His interactive small group tuition sessions enable students to enhance their problem solving and develop a methodical approach of tackling challenging questions.</p>


          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'home/images/hasibdp.jpg' %}" alt="Hasib" style="width:100%">
          <div class="container2">
            <h2>Hasib</h2>
            <p class="title">Tutor</p>
            <p>Hasib attended Wilson’s Grammar school before undertaking a work placement with Harrods in 2017, which accentuated his interpersonal skills and ability to communicate effectively. He is currently enrolled at the University of Southampton to study Engineering in 2017. Hasib has been tutoring for over three years whilst working with Harrods, teaching 11+ Maths and English, both of which he achieved A*’s at GCSE level. Hasib participated in the IC Hackathon over a gruelling 48 hour period in a team of five, within which they used Microsoft API for an emotional recognition algorithm.</p>


          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'home/images/amirdp.jpeg' %}" alt="Amir" style="width:100%">
          <div class="container2">
            <h2>Amir</h2>
            <p class="title">Tutor</p>
            <p>Amir attended Wallington County Grammar School before undertaking a degree in Mathematics at the University of Warwick. Amir has a stellar academic profile, having achieved 11A*’s at GCSE and 4A*’s at A- level. Amir has secured an internship with Magic Circle law firm, Clifford Chance in private equity for 2017 and is currently preparing to represent Warwick University in the WUDC, the world’s most prestigious university level debating competition. Amir has previously held executive positions as President of the Debating society and Co-president of Programming society alongside being awarded QMUL physicist of the year 2015.</p>


          </div>
        </div>
      </div>
    </div>

    <div class="row">

        <div class="column column2"></div>

      <div class="column">
        <div class="card">
          <img src="{% static 'home/images/vigneshdp.jpg' %}" alt="Vignesh" style="width:100%">
          <div class="container2">
            <h2>Vignesh</h2>
            <p class="title">Tutor</p>
            <p>Vignesh attended Wilson’s Grammar school before undertaking a degree in Computer Science at the University of Southampton. Vignesh’s academic record extends to 10A*’s at GCSE and A*AAA at A-level. Vignesh frequently achieved Gold in the annual United Kingdom Maths Challenge and represented Wlison’s Grammar School Chess team for 6 years, consistently appearing in the top 3 within the Brian Poulter League. Having tutored both Mathematics and English for 3 years at 11+ level, Vignesh appreciates the unique requirements of each student and employs teaching methods specific to their needs. He has previously worked with the London British Council Headquarters, where he familiarised himself with technologies such as SAP.</p>


          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'home/images/azhardp.jpeg' %}" alt="Azhar" style="width:100%">
          <div class="container2">
            <h2>Azhar</h2>
            <p class="title">Tutor</p>
            <p>Azhar attended Wallington County Grammar School before undertaking a Business Management degree at Durham University. He was a spring intern in JP Morgan’s Operations division. He has been tutoring students in English for over 2 years for the 11+ and GCSE format, having achieved A*’s in the subject at GCSE level. Having worked with Croydon Voluntary Action alongside the HR department of Croydon Council, Azhar was able to view firsthand the teaching practices in local schools and firmly believes that supplemented by small group tuition, students can improve rapidly. Azhar is a former Jack Petchey award winner and participated in the Durham Business games with leading organisations such as Deloitte, IBM and Unilever.</p>


          </div>
        </div>
      </div>


</div>
{% endblock %}