{% extends 'home/base.html' %}
{% load static %}

{% block title %}Meet the team{% endblock %}

{% block body %}
<div class="container">
    <h2 class="page-header">Our Standards</h2>
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, nisi a pellentesque porta, quam quam iaculis ligula, id tincidunt nunc nulla non libero. Nullam in purus nec diam vestibulum rhoncus vitae vel dolor. In ac lobortis magna. Pellentesque vel nisi fringilla, ullamcorper est a, porta erat. Sed scelerisque tempus neque, non auctor lorem porta sed. Pellentesque massa dui, facilisis vel dui viverra, suscipit bibendum massa. </p>
    </div>
    <h2 class="page-header">Our teachers</h2>
    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <img class="img-circle img-responsive center-block" src="{% static 'home/images/hasibdp.jpeg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
        <div class="col-xs-12 col-lg-3">
            <img class="img-circle img-responsive center-block" src="{% static 'home/images/amirdp.jpeg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
        <div class="col-xs-12 col-lg-3">
            <img class="img-circle img-responsive center-block" src="{% static 'home/images/azhardp.jpeg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
        <div class="col-xs-12 col-lg-3">
            <img class="img-circle img-responsive center-block" src="{% static 'home/images/vigneshdp.jpg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
    </div>
    <h2 class="page-header">All our tutors are...</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img class="img-circle img-responsive" src="{% static 'home/images/earth.jpg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="img-circle img-responsive" src="{% static 'home/images/earth.jpg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="img-circle img-responsive" src="{% static 'home/images/earth.jpg' %}">
            <p class="top-buffer text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ex ut libero convallis dictum.</p>
        </div>
    </div>
</div>
{% endblock %}