{% extends 'home/base.html' %}
{% load static %}

{% block title %}Testimonials{% endblock %}



{% block body %}
    <div class="container">
        <h1 class="page-header">Success Stories</h1>
        <p>At Just11Plus, we follow our students and their parents on their journey from their very first lesson to their final examinations with our carefully constructed syllabus, excellent tutors and detailed feedback system. We facilitate a learning environment in which their natural talent can be nurtured and where their weaknesses can be focussed on and translated into strengths. Below, are a few of our success stories since our recent inception and their experiences with us.</p>
        <div class="row top-buffer vertical-center">
            <div class="col-xs-2 text-center hidden-sm">
                <span class="glyphicon glyphicon-user" style="font-size: 5em;"></span>
            </div>
            <div class="col-xs-12 col-lg-10 panel panel-default">
                <blockquote class="panel-body">
                    "My daughter benefited immensely from attending the tuition centre. She received excellent teaching and support in her classes as well as set weekly homework provided by a team of tutors. I saw how her learning in maths and English accelerated and she has now passed her grammar schools exams as well as receiving top marks in her sats exams. Her  school teacher has now asked her to help others in her class with their maths !
I would like to say a big thank you to the team at Just11Plus and would recommend them to help your child get through the  challenging but rewarding preparation for grammar schools."
                <footer>Ms. Sekhon</footer>
                </blockquote>
            </div>
        </div>

        <div class="row top-buffer vertical-center">
            <div class="col-xs-12 col-lg-10 panel panel-default">
                <blockquote class="panel-body">
                    "Jones benefited massively from the style of teaching at Just11Plus. They ensured that he performed very well across all the topics on the syllabus but more importantly, that he was comfortable with answering different variations of the same question on the exam. Jones went in prepared and quietly confident in his ability which led him to perform to his best on the day. He is looking forward to entering Wilson’s Grammar School this year and we are very grateful to the support of the Just11Plus team and their dedication to each child."
                <footer>Mr. Jeyakumar</footer>
                </blockquote>
            </div>
            <div class="col-xs-2 text-center hidden-sm">
                <span class="glyphicon glyphicon-user" style="font-size: 5em;"></span>
            </div>
        </div>
    </div>

{% endblock %}