{% extends 'home/base.html' %}
{% load static %}

{% block title %}What is 11+{% endblock %}




{% block body %}
    <div class="container">
        <h1 class="page-header">What is 11+</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium faucibus arcu, sit amet venenatis quam hendrerit sodales. Aenean gravida eros id quam cursus, gravida finibus mauris mattis. Aliquam sodales magna ac porttitor egestas. Vestibulum ut massa efficitur, placerat magna quis, sollicitudin ex. Nunc ut bibendum est, eu finibus massa. Fusce fermentum in nunc in scelerisque. Cras et rutrum quam. Proin tristique rhoncus commodo. Praesent euismod, libero quis suscipit mattis, enim ligula mollis ex, in iaculis quam erat nec diam. Mauris id tristique ligula, non hendrerit sapien. Donec hendrerit metus eu imperdiet cursus. Pellentesque sagittis condimentum orci in rhoncus. Aenean egestas ligula arcu, vitae bibendum metus interdum et. Integer commodo, nunc nec maximus facilisis, nisi dolor accumsan urna, sed egestas purus dui a diam.</p>
            </div>
            <div class="col-sm-5 hidden-xs">
                <img class="img-circle img-responsive" src="{% static 'home/images/earth.jpg' %}">
            </div>
        </div>
        <h2 class="page-header">Another title</h2>
        <div class="row">
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium faucibus arcu, sit amet venenatis quam hendrerit sodales. Aenean gravida eros id quam cursus, gravida finibus mauris mattis. Aliquam sodales magna ac porttitor egestas. Vestibulum ut massa efficitur, placerat magna quis, sollicitudin ex. Nunc ut bibendum est, eu finibus massa. Fusce fermentum in nunc in scelerisque. Cras et rutrum quam. Proin tristique rhoncus commodo.</p>
            </div>
        </div>
        <h2 class="page-header">Another title</h2>
        <div class="row">
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium faucibus arcu, sit amet venenatis quam hendrerit sodales. Aenean gravida eros id quam cursus, gravida finibus mauris mattis. Aliquam sodales magna ac porttitor egestas. Vestibulum ut massa efficitur, placerat magna quis, sollicitudin ex. Nunc ut bibendum est, eu finibus massa. Fusce fermentum in nunc in scelerisque. Cras et rutrum quam. Proin tristique rhoncus commodo.</p>
            </div>
        </div>
    </div>
{% endblock %}