/*
colour schemes:
#ebf5ee
#d5fff6
#231352
 */

.top-buffer {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .vertical-center {
        min-height: 100%; /* Fallback for browsers do NOT support vh unit */
        /*min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
}

.col-xs-12 {
    padding-top: 25px;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    background-color: #eaeff7   ;
}

div[class^='col-']{
    padding-right:30px;
    padding-left:30px;
}

span.glyphicon-arrow-right .glyphicon-arrow-down{
    font-size: 2em;
}

/*
.nav {
    background-color: #03204c;
    border-color: #03204c;
    color: white;
}

.navbar {
    background-color: #03204c;
    border-color: #03204c;
    color: white;
}

.navbar-inverse{
    background-color: #03204c;
    border-color: #03204c;
    color: white;
}
*/

/* fit logo in navbar */
.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}

.page-header {
    border-bottom: 1px solid black;
}

.glyphicon-refresh{
    font-size: 100px;
}

.glyphicon-random{
    font-size: 100px;
}

.footer {
    background-color: #011638;
    color: #eaeff7;
}

.form-control {
    font-size: 18px;
    font-family: sans-serif;
}


/* navbar color */
.navbar-default {
  background-color: #011638;
  border-color: #eaeff7;
}
.navbar-default .navbar-brand {
  color: #eaeff7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #011638;
}
.navbar-default .navbar-text {
  color: #eaeff7;
}
.navbar-default .navbar-nav > li > a {
  color: #eaeff7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eaeff7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #011638;
  background-color: #eaeff7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #011638;
  background-color: #eaeff7;
}
.navbar-default .navbar-toggle {
  border-color: #eaeff7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #eaeff7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eaeff7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eaeff7;
}
.navbar-default .navbar-link {
  color: #eaeff7;
}
.navbar-default .navbar-link:hover {
  color: #011638;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eaeff7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #011638;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #011638;
    background-color: #eaeff7;
  }
}