/*
colour schemes:
#ebf5ee
#d5fff6
#231352
 */

.top-buffer {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .vertical-center {
        min-height: 100%; /* Fallback for browsers do NOT support vh unit */
        /*min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
}

.col-xs-12 {
    padding-top: 25px;
}

body {
    font-family: 'Bellefair', serif;
    font-size: 24px;
    background-color: floralwhite;
}

div[class^='col-']{
    padding-right:30px;
    padding-left:30px;
}

span.glyphicon-arrow-right{
    font-size: 3em;
}

/*
.nav {
    background-color: #284695;
    border-color: #284695;
    color: white;
}

.navbar {
    background-color: #284695;
    border-color: #284695;
    color: white;
}

.navbar-inverse{
    background-color: #284695;
    border-color: #284695;
    color: white;
}
*/

/* fit logo in navbar */
.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}

.page-header {
    border-bottom: 1px solid black;
}

.glyphicon-refresh{
    font-size: 100px;
}

.glyphicon-random{
    font-size: 100px;
}

.footer {
    background-color: lightskyblue;
}
